*{
  margin: 0;
  padding: 0;
}

.container {
  height: 1000px;
  width :500px;
  margin: 0 auto;
  background-color: black;
}

.Calculator {
  position: absolute;
  margin: 50px 150px;
  width: 200px;
  height: 300px;
  background-color: lightgray;
  border-radius: 1em;

}

.CalculatorHead {
  margin: 10px 0 0 10px ;
  border-radius: 1em;
  background-color: gray;
  height: 50px;
  width: 180px;
  text-align: center;


}
.Equation {
  padding: 2px 0 2px 0;
  height: 25px
}
hr {
  margin: 0;
}
.CurrentNumber {
  padding-top: 2px;
  height: 25px;
}

.btnPos {
  margin:  9px;
}

.btn-default {
  background-color: orange;
  margin: 1px;
  width: 40px;
}
.bigButton {
  width: 86px;
  margin: 1px;

}
